#include <windows.h>
101 DIALOGEX 0, 0, 240, 360
STYLE DS_SETFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN | WS_CLIPSIBLINGS
EXSTYLE WS_EX_CONTROLPARENT
CAPTION "folderpad++"
FONT 9, "Segoe UI"
BEGIN
END
