#include <windows.h>
#include "version.h"
1 VERSIONINFO
FILEVERSION FOLDERPAD_VERSION_MAJOR,FOLDERPAD_VERSION_MINOR,FOLDERPAD_VERSION_PATCH,0
PRODUCTVERSION FOLDERPAD_VERSION_MAJOR,FOLDERPAD_VERSION_MINOR,FOLDERPAD_VERSION_PATCH,0
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_DLL
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "FileDescription", "folderpad++ Notepad++ plugin"
            VALUE "FileVersion", FOLDERPAD_VERSION_STRING
            VALUE "ProductName", "folderpad++"
            VALUE "ProductVersion", FOLDERPAD_VERSION_STRING
            VALUE "OriginalFilename", "folderpad++.dll"
            VALUE "LegalCopyright", "GPL-3.0-or-later"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
102 DIALOGEX 0, 0, 235, 82
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "folderpad++ Settings"
FONT 9, "Segoe UI"
BEGIN
    LTEXT "Language:", 301, 12, 15, 58, 12
    COMBOBOX 302, 72, 12, 150, 65, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    DEFPUSHBUTTON "OK", IDOK, 112, 54, 52, 16
    PUSHBUTTON "Cancel", IDCANCEL, 170, 54, 52, 16
END
101 DIALOGEX 0, 0, 240, 360
STYLE DS_SETFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN | WS_CLIPSIBLINGS
EXSTYLE WS_EX_CONTROLPARENT
CAPTION "folderpad++"
FONT 9, "Segoe UI"
BEGIN
END
